{% extends 'dairy_owner_dashboard/base.html' %}
{% load static %}
{% comment %} {% load core %}  {% endcomment %}
{% comment %} {% load static i18n %}  {% endcomment %}
{% block stylesheets %}
    <link href="{% static 'saas/assets/css/vendor/dataTables.bootstrap5.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% static 'saas/assets/css/vendor/responsive.bootstrap5.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block content %}
    <style>
        .table-responsive {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        color: #333;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #313A46;
        color: white;
    }

    .table tbody+tbody {
        border-top: 2px solid #dee2e6;
    }

    .table-sm th,
    .table-sm td {
        padding: 0.3rem;
    }

    input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 93px;
    }

    label {
        display: none;
    }
    </style>

    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                        <li class="breadcrumb-item active">Orders</li> -->
                        </ol>
                    </div>
                    <h4 class="page-title">Daily Transactions List</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
        {% block body %}{% endblock %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-xl-8">
                                <form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
                                </form>
                            </div>
                            <div class="col-xl-4">
                                <div class="text-xl-end mt-xl-0 mt-2">
                                    <a href="{% url 'milk_transaction:milk-transaction-create' %}">
                                        <button type="button" class="btn btn-danger mb-2 me-2">Add Transaction</button>
                                    </a>
                                    <button type="button" class="btn btn-light mb-2 me-1" id="display_input">Search</button>
                                </div>
                            </div>
                            <!-- end col-->
                        </div>
                        <div>
                            <div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-dismissible alert-success form-group text-center ">
                                            <strong>{{ message }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="display table table-centered table table-sm mb-0 nowrap w-100 for-tfoot"
                                   id="milkTransactionDataTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Sr. NO.</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Customer ID</th>
                                        <th>Customer Name</th>
                                        <th>Shift</th>
                                        <th>Liters</th>
                                        <th>FAT</th>
                                        <th>S.N.F</th>
                                        <th>Rate</th>
                                        <th>Total Amount</th>
                                        <th style="width: 125px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card-->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
<!-- content -->
{% endblock %}
{% block javascripts %}
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function () {
    $('#milkTransactionDataTable').DataTable({
        serverSide: true,
        searching: true,
        lengthMenu: [12, 30, 50, 100],
        pageLength: 12,
        ajax: {
            url: "{% url 'milk_transaction:transaction_data' %}",
            type: 'GET',
        },
        columns: [
            { data: 'date', searchable: false, orderable: false, render: function (data, type, row, meta) { return meta.row + 1;} },
            { data: 'date', name: 'date', searchable: true },
            { data: 'time', name: 'time', searchable: true },
            { data: 'end_user_id', name: 'end_user__id', searchable: true },
            { data: 'end_user', name: 'end_user__first_name', searchable: true },
            { data: 'transaction_shift', name: 'transaction_shift', searchable: true },
            { data: 'transaction_liters', name: 'transaction_liters', searchable: true },
            { data: 'transaction_fat', name: 'transaction_fat', searchable: true },
            { data: 'transaction_snf', name: 'transaction_snf', searchable: true },
            { data: 'transaction_rate', name: 'transaction_rate', searchable: true },
            { data: 'transaction_amount', name: 'transaction_amount', searchable: true },
            { 
                data: 'update_url',
                name: 'update_url',
                searchable: false,
                orderable: false,  // Make the column orderable
                render: function (data, type, row, meta) {
                    return '<a href="' + data + '" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>';
            }
            }
        ],
    });
    // Add date picker to the second column input
    $('#milkTransactionDataTable tbody').on('click', 'td:eq(1)', function () {
                var cell = dataTable.cell(this);
                var cellData = cell.data();
                alert('')
                console.log('alert',cell,cellData);
                // Create an input element with the current date as its initial value
                var inputElement = $('<input>', {
                    type: 'text',
                    value: cellData,
                    readonly: 'readonly',
                });

                // Show date picker on input field click
                inputElement.datepicker({
                    dateFormat: 'yy-mm-dd',
                    onSelect: function (dateText) {
                        // Update DataTable cell data on date selection
                        cell.data(dateText);
                    }
                });

                // Replace the cell content with the input field
                cell.node().innerHTML = inputElement.prop('outerHTML');
                inputElement.datepicker('show');
            });

    // Add datepicker to the second column (index 1)
    $('#milkTransactionDataTable thead tr:eq(1) th:eq(1)').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" id="datepicker" placeholder="Select ' + title + '" />');

            // Initialize datepicker
            $('#datepicker').datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function (dateText, inst) {
                    $('#milkTransactionDataTable').DataTable()
                        .column(1) // Assuming the Date column is at index 1
                        .search(dateText)
                        .draw();
                }
            });
        });
    // Add search input boxes below each column
    $('#milkTransactionDataTable thead tr').clone(true).appendTo('#milkTransactionDataTable thead');
    $('#milkTransactionDataTable thead tr:eq(1) th').each(function (i) {
        var title = $(this).text();
        $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        $('input', this).on('keyup change', function () {
            if ($('#milkTransactionDataTable').DataTable().column(i).search() !== this.value) {
                $('#milkTransactionDataTable').DataTable()
                    .column(i)
                    .search(this.value)
                    .draw();
            }
        });
    });
});
    </script>
{% endblock %}
