{% extends 'dairy_owner_dashboard/base.html' %}
{% load static %}
{% comment %} {% load core %}  {% endcomment %}
{% comment %} {% load static i18n %}  {% endcomment %}
{% block stylesheets %}
    <link href="{% static 'saas/assets/css/vendor/dataTables.bootstrap5.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% static 'saas/assets/css/vendor/responsive.bootstrap5.css' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block content %}

<style>
    #jobseeker-list-table_paginate{
        text-align: center;
        margin-right: 275px;
        margin-top: 10px;
    }
    .text-success{
        color: var(--brand-gold) !important;
    }
    .text-danger{
        color: var(--brand-grey) !important;
    }
    .uil-phone-volume{
        color: var(--brand-gold);
    }
    /* Custom styles for this template */
    .user-profile {
        background-color: #f8f9fa;
        padding: 20px;
    }

    .user-profile h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .user-profile p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .transaction-history h2 {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .transaction-history table {
        width: 100%;
    }

    .transaction-history th {
        background-color: #343a40;
        color: white;
        font-size: 12px; /* Adjust header font size */
        padding: 8px; /* Adjust header padding */
    }

    .transaction-history td {
        text-align: center;
        font-size: 12px; /* Adjust body font size */
        padding: 6px; /* Adjust body padding */
    }

    /* Style for the total bonus in the right corner */
    .total-bonus {
        float: right;
    }
    .table th {
        text-align: center;
    }
    /* Style for the bonus section */
    /* Style for the bonus section */
    .total-bonus {
        font-weight: bold;
        color: #FF4500; /* Change the text color to a shade of orange red */
        margin-left: 10px;
        display: inline-block;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add animation for color, scale, and opacity */
        padding: 4px 8px;
        border-radius: 5px;
    }

    /* Style for the bonus amount */
    .bonus-amount {
        color: #9932CC; /* Change the color to a shade of dark orchid */
    }

    /* Style for the currency symbol */
    .currency {
        font-size: 15px;
        vertical-align: middle;
    }

    /* Add a unique animation on hover for the total-bonus element */
    .total-bonus:hover {
        color: #228B22; /* Change the text color to a shade of forest green on hover */
        transform: translateY(-2px); /* Add a slight vertical movement on hover */
        opacity: 0.8; /* Reduce opacity on hover for a subtle fade effect */
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add animation for color, vertical movement, and opacity on hover */
    }
    .back-button {
        margin-top: 10px;
        text-align: right;
    }
</style>

<div class="container-fluid">
    {% block body %}
    {% endblock %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-xl-8">
                            <form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
                            </form>
                        </div>
                        <div class="col-xl-4">
                            <div class="text-xl-end mt-xl-0 mt-2">
                                <a href="{% url 'milk_transaction:milk-transaction-create' %}">
                                    <button type="button" class="btn btn-danger mb-2 me-2">Add Transaction</button>
                                </a>
                                <button type="button" class="btn btn-light mb-2 me-1" id="display_input">Search</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-dismissible alert-success form-group text-center ">
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered table table-sm mb-0 nowrap w-100 for-tfoot"
                                id="employer-list-table">
                            <thead class="table-dark">
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Customer ID</th>
                                    <th>Customer Name</th>
                                    <th>Shift</th>
                                    <th>Liters</th>
                                    <th>FAT</th>
                                    <th>S.N.F</th>
                                    <th>Rate</th>
                                    <th>Total Amount</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th style="width: 125px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.end_user.custom_id }}</td>
                                        <td>
                                            <a href="#" class="text-body fw-bold">{{ transaction.end_user.first_name }} {{ transaction.end_user.last_name }}</a>
                                        </td>
                                        <td>{{ transaction.transaction_shift }}</td>
                                        <td>{{ transaction.transaction_liters }}</td>
                                        <td>{{ transaction.transaction_fat }}</td>
                                        <td>{{ transaction.transaction_snf }}</td>
                                        <td>{{ transaction.transaction_rate }}</td>
                                        <td class="bonus-amount">{{ transaction.transaction_amount }} <span class="currency">&#8377;</span></td>
                                        <td>{{ transaction.date }}</td>
                                        <td>{{ transaction.time }}</td>
                                        <td>
                                            <a href="{% url 'milk_transaction:milk-transaction-update' transaction.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if is_paginated %}
                            <div class="row">
                                <div class="col-md-12">
                                    <nav aria-label="Page navigation example"
                                            class="d-flex justify-content-center mt-4 mb-4">
                                        <ul class="pagination">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link">&laquo;</a>
                                                </li>
                                            {% endif %}
                                            {% for i in page_obj.paginator.page_range %}
                                                {% if page_obj.number == i %}
                                                    <li class="page-item active">
                                                        <a class="page-link">{{ i }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item">
                                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link">&raquo;</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
                <!-- end card-body-->
            </div>
            <!-- end card-->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
{% endblock %}
{% block javascripts %}
   {% endblock %}
