{% extends 'dairy_owner_dashboard/base.html' %} {% load static %} {% comment %} {% load core %} {% endcomment %} {% comment %} {% load static i18n %} {% endcomment %} {% block stylesheets %}
<link href="{% static 'saas/assets/css/vendor/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'saas/assets/css/vendor/responsive.bootstrap5.css' %}" rel="stylesheet" type="text/css" /> {% endblock %} {% block content %}
<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        color: #333;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #313A46;
        color: white;
    }

    .table tbody+tbody {
        border-top: 2px solid #dee2e6;
    }

    .table-sm th,
    .table-sm td {
        padding: 0.3rem;
    }

    input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 93px;
    }

    label {
        display: none;
    }
    table .second-row th{
        background-color: transparent;
    }
    table .second-row th::before,table .second-row th::after{
        display: none;
    }
    table .second-row th:first-child input,table .second-row th:last-child input{
        display: none;
    }
</style>

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                        <li class="breadcrumb-item active">Orders</li> -->
                    </ol>
                </div>
                <h4 class="page-title">Daily Transactions List</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    {% block body %}{% endblock %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-xl-8">
                            <form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
                            </form>
                        </div>
                        <div class="col-xl-4">
                            <div class="text-xl-end mt-xl-0 mt-2">
                                <a href="{% url 'milk_transaction:milk-transaction-create' %}">
                                    <button type="button" class="btn btn-danger mb-2 me-2">Add Transaction</button>
                                </a>
                                <button type="button" class="btn btn-light mb-2 me-1" id="display_input">Search</button>
                            </div>
                        </div>
                        <!-- end col-->
                    </div>
                    <div>
                        <div>
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-dismissible alert-success form-group text-center ">
                                <strong>{{ message }}</strong>
                            </div>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="display table table-centered table table-sm mb-0 nowrap w-100 for-tfoot" id="milkTransactionDataTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>Sr. NO.</th>
                                    <th>&nbsp &nbsp Date</th>
                                    <th>Time</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Shift</th>
                                    <th>Liters</th>
                                    <th>FAT</th>
                                    <th>S.N.F</th>
                                    <th>Rate</th>
                                    <th>Total Amount</th>
                                    <th style="width: 125px;">Action</th>
                                </tr>
                            </thead>
                            <tfoot></tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card-body-->
            </div>
            <!-- end card-->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- container -->
</div>
<!-- content -->
{% endblock %} {% block javascripts %}
<!-- Datatables js -->
<script src="{% static 'saas/assets/js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'saas/assets/js/vendor/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'saas/assets/js/vendor/dataTables.responsive.min.js' %}"></script>
<script>
    $(document).ready(function () {

    // Add search input boxes below each column
    $('#milkTransactionDataTable').DataTable({
        serverSide: true,
        searching: true,
        lengthMenu: [15, 30, 50, 100],
        pageLength: 15,
        order: [[1, 'dsc']],  // Order by Date descending and Time ascending
        stateSave: true,  // Enable state saving
        ajax: {
            url: "{% url 'milk_transaction:transaction_data' %}",
            type: 'GET',
        },
       
        columns: [
            { data: 'date', searchable: false, orderable: false, render: function (data, type, row, meta) { return meta.row + 1;} },
             {
                data: 'date',
                name: 'date',
                searchable: true,
                type: 'date', // Specify the column type for correct sorting
                render: function (data, type, row) {
                    var dateObj = new Date(data);
                    var day = dateObj.getDate();
                    var month = dateObj.getMonth() + 1; // Months are zero-based
                    var year = dateObj.getFullYear();

                    day = day < 10 ? '0' + day : day;
                    month = month < 10 ? '0' + month : month;

                    var formattedDate = day + '/' + month + '/' + year;

                    return formattedDate;
                }
            },
            { data: 'time', name: 'time', searchable: true },
            { data: 'end_user_id', name: 'end_user__custom_id', searchable: true },
            { data: 'end_user', name: 'end_user__first_name', searchable: true },
            { data: 'transaction_shift', name: 'transaction_shift', searchable: true },
            { data: 'transaction_liters', name: 'transaction_liters', searchable: true },
            { data: 'transaction_fat', name: 'transaction_fat', searchable: true },
            { data: 'transaction_snf', name: 'transaction_snf', searchable: true },
            { data: 'transaction_rate', name: 'transaction_rate', searchable: true },
            { data: 'transaction_amount', name: 'transaction_amount', searchable: true },
            { 
                data: 'update_url',
                name: 'update_url',
                searchable: false,
                orderable: false,  // Make the column orderable
                render: function (data, type, row, meta) {
                    return '<a href="' + data + '" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>';
            }
            }
        ],
    });
    
    // Add search input boxes below each column
    $('#milkTransactionDataTable thead tr').clone(true).appendTo('#milkTransactionDataTable thead');
            $('#milkTransactionDataTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                var inputType = i === 1 ? 'date' : 'text'; // Set input type based on column index
        
                $(this).html('<input type="' + inputType + '" placeholder="Search" />');
        
                $('input', this).on('keyup change', function () {
                    if ($('#milkTransactionDataTable').DataTable().column(i).search() !== this.value) {
                        $('#milkTransactionDataTable').DataTable()
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
});
</script>

<script>
    $(document).ready(function(){
            $('#milkTransactionDataTable thead tr:eq(1)').addClass('click-hide second-row');
            $('#milkTransactionDataTable thead tr:eq(1) th input').addClass('form-control');
            $('#milkTransactionDataTable thead tr:eq(1) th').removeClass('sorting');
            $('#milkTransactionDataTable thead tr:eq(1) th').removeAttr('aria-controls');
            
            $('#milkTransactionDataTable thead tr:nth-child(2) th').each(function() {
                $(this).unbind('click');
            });

            $("#display_input").click(function(){
                $("#milkTransactionDataTable thead tr:eq(1)").toggleClass("click-hide");
            });
        })
</script>
{% endblock %}