<!DOCTYPE html>
{% load static %}
{% load static i18n %}
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>{{config.SITE_TITLE}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/media/{{config.FAVICON}}">

        <!-- third party css -->
        <link href="{% static 'saas/assets/css/vendor/jquery-jvectormap-1.2.2.css'%}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

        <!-- App css -->
        <link rel="stylesheet" href="{% static 'css/admin-custom.css' %}">
        <link href="{% static 'saas/assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'saas/assets/css/app.min.css'%}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static 'saas/assets/css/app-dark.min.css'%}" rel="stylesheet" type="text/css" id="dark-style" />
        <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% block stylesheets %}
        {% endblock  %}
    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- Left Sidebar Start -->

            {% include 'dashboard/leftsidebar.html' %}
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                   {% include 'dashboard/topbar.html' %}
                    <!-- Topbar Start -->

                    <!-- Start Content-->
                    <div class="container-fluid">
                        {% block messages %}

                        {% endblock messages %}
                        <!-- start page title -->
                       
                        <!-- end page title -->
                        {% block content %}
                        
                        {% endblock content %}                        
                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

                <!-- Footer Start -->
                {% include 'dashboard/footer.html' %}
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- Right Sidebar -->
        <div class="end-bar">

            <div class="rightbar-title">
                <a href="javascript:void(0);" class="end-bar-toggle float-end">
                    <i class="dripicons-cross noti-icon"></i>
                </a>
                <h5 class="m-0">Settings</h5>
            </div>

            <div class="rightbar-content h-100" data-simplebar>

                <div class="p-3">
                    <!-- <div class="alert alert-warning" role="alert">
                        <strong>Customize </strong> the overall color scheme, sidebar menu, etc.
                    </div> -->

                    <!-- Settings -->
                    <h5 class="mt-3">Color Scheme</h5>
                    <hr class="mt-1" />

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="light" id="light-mode-check" checked>
                        <label class="form-check-label" for="light-mode-check">Light Mode</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="dark" id="dark-mode-check">
                        <label class="form-check-label" for="dark-mode-check">Dark Mode</label>
                    </div>
       

                    <!-- Width -->
                    <!-- <h5 class="mt-4">Width</h5>
                    <hr class="mt-1" />
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="width" value="fluid" id="fluid-check" checked>
                        <label class="form-check-label" for="fluid-check">Fluid</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="width" value="boxed" id="boxed-check">
                        <label class="form-check-label" for="boxed-check">Boxed</label>
                    </div> -->
        

                    <!-- Left Sidebar-->
                    <h5 class="mt-4">Left Sidebar</h5>
                    <hr class="mt-1" />
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="theme" value="default" id="default-check">
                        <label class="form-check-label" for="default-check">Default</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="theme" value="light" id="light-check" checked>
                        <label class="form-check-label" for="light-check">Light</label>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" name="theme" value="dark" id="dark-check">
                        <label class="form-check-label" for="dark-check">Dark</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="compact" value="fixed" id="fixed-check" checked>
                        <label class="form-check-label" for="fixed-check">Fixed</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="compact" value="condensed" id="condensed-check">
                        <label class="form-check-label" for="condensed-check">Condensed</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="compact" value="scrollable" id="scrollable-check">
                        <label class="form-check-label" for="scrollable-check">Scrollable</label>
                    </div>

                    <div class="d-grid mt-4">
                        <button class="btn btn-primary" id="resetBtn">Reset to Default</button>
<!--             
                        <a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/"
                            class="btn btn-danger mt-3" target="_blank"><i class="mdi mdi-basket me-1"></i> Purchase Now</a> -->
                    </div>
                </div> <!-- end padding-->

            </div>
        </div>

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->

        <!-- bundle -->
        <script src="{% static 'saas/assets/js/vendor.min.js'%}"></script>
        <script src="{% static 'saas/assets/js/app.min.js'%}"></script>

        <!-- third party js -->
        <script src="{% static 'saas/assets/js/vendor/jquery-jvectormap-1.2.2.min.js'%}"></script>
        <script src="{% static 'saas/assets/js/vendor/jquery-jvectormap-world-mill-en.js'%}"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="{% static 'saas/assets/js/pages/demo.dashboard.js'%}"></script>
        <!-- end demo js-->

        <!-- Scripts For Notifications  -->
        <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-messaging.js"></script>

         <script>

        const firebaseConfig = {
            apiKey: "AIzaSyAd2z_JSrM10jyn_vqWiVBckfO0QEvgahQ",
            authDomain: "fcm-baxy-1.firebaseapp.com",
            projectId: "fcm-baxy-1",
            storageBucket: "fcm-baxy-1.appspot.com",
            messagingSenderId: "100243017216",
            appId: "1:100243017216:web:0c429636ab7f84b7e7d2e5",
            measurementId: "G-F7GTDHFFFH",
            databaseURL: "https://fcm-baxy-1.firebaseio.com"
        };
        console.log('@@@@@@@@@@@@@@@@@@@@@@@@@')
        console.log('@@@@@@@@@@@@@@@@@@@@@@@@@')
        console.log('@@@@@@@@@@@@@@@@@@@@@@@@@')
        firebase.initializeApp(firebaseConfig);
            const messaging=firebase.messaging();
            getStartToken();
            messaging.onMessage(function(payload){
                var obj;
                if(payload.data){
                    obj = payload.data;
                    var obj = payload.data;
                }
                else{
                    obj = payload.notification;
                    var obj = payload.notification;
                }
                const notificationTitle = obj.title;
                const notificationOptions = {
                    body: obj.body,
                    data: { url:obj.url}
                };

                var notification = new Notification(notificationTitle, notificationOptions);
                notification.onclick = function(event) {
                    event.preventDefault();
                    window.open(obj.url , '_blank');
                    notification.close();
                }

                var id = String("'"+payload.fcmMessageId+"'");
                $('#noti-cards').append('<div class="toast show fade  notification" id="'+payload.fcmMessageId+'" role="alert" aria-live="assertive" aria-atomic="true" data-toggle="toast"><div class="toast-header"><strong class="mr-auto">'+obj.title+'</strong><button type="button" onclick="close_notification('+id+')" class="ml-2 mb-1 btn-close toast-close-btn" data-dismiss="toast" aria-label="Close"></button></div><div class="toast-body">'+obj.body+'</div></div>')
                setTimeout(function(){$('#noti-cards').hide();$('#noti-cards').empty()}, 5000);
                $('#noti-cards').show();
            });

            function getStartToken(){
                    console.log('22222222222222')
                messaging.getToken().then((currentToken) => {
                    console.log(currentToken, '@@@@@@@@@@@')
                if (currentToken) {
                    sendTokenToServer(currentToken);
                }
                else {
                }
                }).catch((err) => {
                    //setTokenSentToServer(false);
                });
            }
            function sendTokenToServer(token){
                var data = {
                    'token': token
                }
                $.ajax({
                    type: "POST",
                    url: "/add-fcm-user/",
                    data: data,
                    success: function(output) {},
                    error: function() {}
                });
            }

         function close_notification(id){
             $('#'+id).hide();
         }
        $(".theme-select").click(function() {
            var themeId = $(this).find("[name=theme-id]").first().val();
            $.ajax({
                type: "POST",
                url: "/set-theme/",
                data: { "theme": themeId, },
                success: function() { window.location.reload(); },
                error: function() { window.location.reload(); }
            })
        });
    </script>
    <script>
        $('#display_input').click(function(){
            $('tfoot').toggleClass('tfoot-new');
        });
    </script>

        {% block javascripts %} {% endblock %}
    </body>
</html>