{% extends 'dairy_owner_dashboard/base.html' %}
{% load static %}
{% load static i18n %}
{% block content %}
<style>
#id_phone_number_0{
    /* width: 500px; */
    height: calc(2.0625rem + 5px);
    }     
#id_phone_number_1{
    width: 230px;
}   
.bootstrap-select .dropdown-menu a {
color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance: textfield;
}
    </style>
    <h3 class="text-center mt-3 mb-3 ">Update Stock</h3>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane show active" id="tooltips-validation-preview">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible alert-danger form-group text-center ">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6 position-relative mb-3">
                                    <label for="name" class="form-label">
                                        Feed Name <span class="required-field"></span>
                                    </label>
                                    {{ form.name }}
                                    {% if form.name.errors %}
                                        <div class="error-red alert-dismissable">
                                            <div class="errorlist">
                                                <small>{{ form.name.errors|escape }}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6 position-relative mb-3">
                                    <label for="quantity" class="form-label">
                                        Quantity <span class="required-field"></span>
                                    </label>
                                    <div class="input-group">{{ form.quantity }}</div>
                                    {% if form.quantity.errors %}
                                        <div class="error-red alert-dismissable">
                                            <div class="errorlist">
                                                <small>{{ form.quantity.errors|escape }}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 position-relative mb-3">
                                    <label for="original_price" class="form-label">
                                        Original Price <span class="required-field"></span>
                                    </label>
                                    <div class="input-group">{{ form.original_price }}</div>
                                    {% if form.original_price.errors %}
                                        <div class="error-red alert-dismissable">
                                            <div class="errorlist">
                                                <small>{{ form.original_price.errors|escape }}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6 position-relative mb-3">
                                    <label for="email" class="form-label">
                                        Selling Price <span class="required-field"></span>
                                    </label>
                                    <div class="input-group">{{ form.selling_price }}</div>
                                    {% if form.selling_price.errors %}
                                        <div class="error-red alert-dismissable">
                                            <div class="errorlist">
                                                <small>{{ form.selling_price.errors|escape }}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-sm-12 position-relative mb-3">
                                    <label for="description" class="form-label">
                                        Description <span class=""></span>
                                    </label>
                                    <div class="input-group">{{ form.description }}</div>
                                    {% if form.description.errors %}
                                        <div class="error-red alert-dismissable">
                                            <div class="errorlist">
                                                <small>{{ form.description.errors|escape }}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <button class="btn btn-primary offset-8" type="submit">
                                <i class="mdi mdi-account-circle"></i>
                                Save
                            </button>
                            &nbsp;
                            <a class="btn btn-secondary"
                               href="{% url 'stock_food_management:stock-list' %}">Cancel</a>
                        </form>
                        <!-- end preview-->
                    </div>
                    <!-- end card-->
                </div>
                <!-- end col-->
            </pre>
            <!-- end highlight-->
        </div>
        <!-- end preview code-->
    </div>
    <!-- end tab-content-->
</div>
<!-- end card-body-->
</div>
<!-- end card-->
</div>
<!-- end col-->>
<!-- end tab-content-->
</div>
<!-- end card-body-->
</div>
<!-- end card-->
</div>
<!-- end col-->
{% endblock %}
<!-- {% block javascripts %}
<script>
    $(document).ready(function(){
        $("#id_gender").select;
    });
</script>
{% endblock %}  -->
