{% extends 'dairy_owner_dashboard/base.html' %}
{% load static %}
{% block stylesheets %}
    <!-- Add your custom CSS or Bootstrap stylesheets here -->
    <link rel="stylesheet" href="{% static 'your-custom-css.css' %}">
    <!-- Bootstrap CSS link (if not already included in your base.html) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles for this template */
        .user-profile {
            background-color: #f8f9fa;
            padding: 20px;
        }

        .user-profile h1 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .user-profile p {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .transaction-history h2 {
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .transaction-history table {
            width: 100%;
        }

        .transaction-history th {
            background-color: #343a40;
            color: white;
            font-size: 12px; /* Adjust header font size */
            padding: 8px; /* Adjust header padding */
        }

        .transaction-history td {
            text-align: center;
            font-size: 12px; /* Adjust body font size */
            padding: 5px; /* Adjust body padding */
        }

        /* Style for the total bonus in the right corner */
        .total-bonus {
            float: right;
        }
        .table th {
            text-align: center;
        }
        /* Style for the bonus section */
        /* Style for the bonus section */
        .total-bonus {
            font-weight: bold;
            color: #FF4500; /* Change the text color to a shade of orange red */
            margin-left: 10px;
            display: inline-block;
            transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add animation for color, scale, and opacity */
            padding: 4px 8px;
            border-radius: 5px;
        }

        /* Style for the bonus amount */
        .bonus-amount {
            color: #9932CC; /* Change the color to a shade of dark orchid */
        }

        /* Style for the currency symbol */
        .currency {
            font-size: 15px;
            vertical-align: middle;
        }

        /* Add a unique animation on hover for the total-bonus element */
        .total-bonus:hover {
            color: #228B22; /* Change the text color to a shade of forest green on hover */
            transform: translateY(-2px); /* Add a slight vertical movement on hover */
            opacity: 0.8; /* Reduce opacity on hover for a subtle fade effect */
            transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add animation for color, vertical movement, and opacity on hover */
        }
        .back-button {
            margin-top: 10px;
            text-align: right;
        }
        .received {
            background-color: green;
            color: white; /* Optional, to change text color */
            padding: 4px; /* Optional, to add padding for better visual appeal */
          }
        
          .paid {
            background-color: red;
            color: white; /* Optional, to change text color */
            padding: 4px; /* Optional, to add padding for better visual appeal */
          }
    </style>
{% endblock %}
{% block content %}
    <!-- Main Content -->
    <div class="container mt-4">
        {% block body %}
        <!-- User Profile Section -->
        <div class="user-profile">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <p>
                <span class="mobile-number">Mobile Number: {{ user.mobile_number }}</span>
               
                <span class="total-bonus">
                    Remaining Amount: <span class="bonus-amount">{{ total_remaining_amount|default:0 }}</span> <span class="currency">&#8377;</span>
                </span> 
                <span class="total-bonus">
                    Recovered Amount: <span class="bonus-amount">{{ total_recovered_payment|default:0 }}</span> <span class="currency">&#8377;</span>
                </span>  
                <span class="total-bonus">
                    Advance Amount: <span class="bonus-amount">{{ total_advance_payment|default:0 }}</span> <span class="currency">&#8377;</span>
                </span> 
                       
             </p>
        </div>

        <!-- Transaction History Section -->
        <div class="transaction-history">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Date</th>
                        <th>Advance Amount Paid</th>
                        <th>Advance Amount Received</th>
                        <th>Transaction Type</th>
                        <th>Advance Cycle</th>
                        {% comment %} <th>Approved</th> {% endcomment %}
                         {% comment %} <th>Paid</th>  {% endcomment %}
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.payment_date }}</td>
                            {% if transaction.transaction_type == 'withdrawal' %}
                            <td class="bonus-amount"> {{ transaction.payment_amount }} <span class="currency">&#8377;</span></td>
                            {% else %}
                            <td>-</td>
                            {% endif %}

                            {% if transaction.transaction_type == 'deduct' %}
                            <td class="bonus-amount"> {{ transaction.payment_amount }} <span class="currency">&#8377;</span></td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            <td>
                                {% if transaction.transaction_type == 'deduct' %}
                                  <span class="received">Amount Received</span>
                                {% else %}
                                  <span class="paid">Amount Paid</span>
                                {% endif %}
                              </td>
                            {% comment %} <td>{% if transaction.is_approved %}Yes{% else %}No{% endif %}</td> {% endcomment %}
                            {% comment %} <td>{% if transaction.is_paid %}Yes{% else %}No{% endif %}</td> {% endcomment %}
                            <td>{{ transaction.advance_taken_cycle | default:'-' }}</td>
                            <td>{{ transaction.description }}</td>
                            <td><a href="{% url 'advance_payments:advance-payyment-update' transaction.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="total-column" style="font-size: 16px; font-weight: bold;">Total</td>
                        <td class="total-column" style="font-size: 16px; font-weight: bold;">{{ total_advance_payment|default:0 }} <span class="currency">&#8377;</span></td>
                        <td class="total-column" style="font-size: 16px; font-weight: bold;">
                            {{ total_recovered_payment|default:0 }}<span class="currency">&#8377;</span>
                        </td>
                    </tr>
                    
                </tfoot>
            </table>
        </div>
        <div class="back-button">
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Back</a>
        </div>
        {% endblock %}
    </div>

{% endblock %}
{% block javascripts %}
    <!-- Include your JavaScript scripts here -->
{% endblock %}
